a,a:hover
{
	color:#000; text-decoration:none;
}
marquee:
{
	display : inlline-block;
}
.productbox {
    width:250px;
    height:auto;
    background-color:#ffffff;
    padding:10px;
	margin:8px 8px 8px 8px ; 
	display:inline-block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #fff;
        border: solid 1px #cbcbcb;
        transition: all .20s ease-in-out;
		    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.36);
		float : left;
		
}



.carousel>.carousel-inner>.item>a>img {

    height: 60%;
    width: 20%;
	margin : 2% 0% 0% 40%;
	
}

.list-inline>li
{
	border-radius : 10px;
	
	border : none;

}


.productbox img{
    width:135px;
    height:214px;
	margin: 5px 0px 0px 22% ;
    }
.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0; 
   width: 235px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left:4%;
    
}
.producttitle a{
   color:#000;
   text-decoration:none;
    }
.producttitle .btn{
    background-color:#EDEEF0;
}

.carousel-control.left
{
	    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0,rgba(36, 36, 36, 0.0001) 100%);
}

.carousel-control.right
{
	    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0,rgba(36, 36, 36, 0.0001) 100%);
}
.containers
{
	background-color : white;
	width : 100%; 
	margin : 1% 2% 1% 0%;
	overflow : hidden;
	
}
h2
{
	margin : 0% 0% 1% 5%;
}

#slider-text
{
	text-shadow: 5px 3px 5px rgba(9, 47, 218, 0.63);
	    background-color: rgba(187, 179, 179, 0.19);
		padding-top : 1%;
}
.slider
{
	height : 58%;
	overflow: hidden;
	background : url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4fdZ-XRpCdZQ6w9t2jsB9jyS2KcdA7699dWTt3tEEEhSEEZXT);
	background-repeat : no-repeat;
	background-size : cover;
	
	
	}
.detail
{
	padding : 1% 1% 1% 27% ;
	float  :left;
}
.oldprice
{
	float : left;
	margin-left : 10%;
	    color: rgba(113, 82, 82, 0.78);
    text-decoration: line-through;
}
