.additem
{
	margin : -1% 0% 0% 20% ;
	display : inline-block;
	height: 40%;
}
.inputdata
{
	padding: 1% 1% 1% 1%;
    display: inline-block;
    margin: 0% 0% 0% 3%;
    width: 58%;
}
textarea
{
	padding : 3px 3px 3px 5px ;
	width  :30%;
	height : 40%;
	resize : none;
}

.additem>form>input[type=text],textarea
{
	border : none;
	box-shadow: 2px 2px 6px 0px #c39494;
	border-radius : 8px;
}
.additem>h3
{
	margin : 0% 0% 2% 25% ;
}
.submit
{
	margin : 2% 0% 0% 35% ;
}
.additem>form input[type=submit]
{
	background-color: rgba(218, 223, 224, 0.2);
    box-shadow: 2px 2px 8px 0px #cabbbb;
    border: none;
}
.pcategory
{
	margin : 1% 0% 3% 35% ;
}
select[name=ptype]
{
	border : none;
	background-color : inherit;
}
#ptypereq
{
	display:none;
	margin : 2px 0% 0% 0% ;
	font-style: oblique;
	position : absolute;
}
body
{
	background: url(/assets/images/addItem.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#pimg{
	margin : -4% 0% 2% 61% ;
}

.updatesuccesfully
{
	position: fixed;
    margin: 37% 0% 0% 75%;
    color: coral;
    background-attachment: fixed;
	font-weight: 800;
	z-index : 1000;
}