body
{
	position  :relative;
	background-color: #fafefe;
}

.searcharea
{
	width : 48%;
	margin : 3% 0% 0% 10% ;
	display : inline-block;
	height:15%;
}
img
{
	background-color : rgba(0, 128, 0, 0.05);
	width : 8%;
	height : 80%;
	display : inline-block;
	margin : 1% 0% 2% 1% ;
}

div.autosuggestcontainer  {
  width:181%;

}

div.autosuggestcontainer  {
    position: absolute;
    z-index: 9049;
    box-shadow: 3px 3px 6px #b59393;
}

div.autosuggestcontainer li {
    width: 100%;
    cursor: default;
    white-space: nowrap;
    margin: 0;
    padding: 0% 1% 0% 2%;
	z-index : 2;
}

#searchbox
{
    border-radius: 14px;
    border-width: 1px;
    border-color: #c4d9df #a4c3ca #83afb7;
    width: 87%;
    height: 110px;
    padding: 10px;
    margin: -20px auto 0px 165px;
    overflow-y: visible;	
}
div.autosuggestcontainer .yui-ac-shadow
{
	background: rgba(204, 204, 204, 0);!important
	box-shadow: 0 0 17px #debacb;
}
div.autosuggestcontainer .yui-ac-content
{
	box-shadow: 0px 4px 7px #f9c6c6;
	border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
	overflow-y : visible;
	max-height : 100px;
}
#search, 
#submit {
    float: left;
	margin-top: 0px;
	opacity : 0.9;
}

#search {
    padding: 14px 9px;
    height: 23px;
    width: 200%;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
	background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 14%,#af8cc6 48%,#dddfe3 79%,#f5f6f6 100%);
    border-radius: 3px 50px 50px 3px;
    border-width: 1px;
    border-style: solid;
    height: 31px;
    margin: -73px 0 0 335px;
    padding: 0;
    width: 50px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	opacity : 0.8;
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#ffffff, #73518a);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
    border: 0;  /* Small centering fix for Firefox */
}


.header
{
	display: inline-block;
	width : 100%;
	height: 16%;
	background-color: #441d5e;
    background-size: 100%; 
}
}

.navbar-inner
{
	position: fixed;
}
/*-----------------------------------------------search bar style starts */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}


/* ---------------------------------------Search bar style ends */


 /*cart area*/
.cart-area
{
    display: inline-block;
    width: 10%;
    height: 2%;
	position : absolute;
	padding: 2px 0% 0% 0%;
	color: white;
} 
.cart-item
{
	background-color: #f92b00;
    border-radius: 10px;
    padding: 2px 7px 2px 5px;
}

/* -------------------------------------------login style starts */
.btn, input,.dropdownregister>form>.input-group>input,
.input-group
{
	border-radius : 5px;
}

input
{
	padding : 4px 4px 4px 4px ;
	color : black;
}
#logoutbtn
{
    color: white;
    margin: -26px 0px 0px 204px;
    background-color: #441d5e;
	border : none;
}

#logoutbtn:hover
{
	color : red;
}
.invaliduser
{
	margin: 2% 0% 0% 72%;
    position: absolute;
    padding: 1%;
    border-radius: 26px;
    color: white;
    background-color: #3d1a97;
}
.after
{
display:none;
}

.usernamearea
{
	position : absolute;
	height: 7%;
	width : 150px;
	display: inline-block;
	margin: -19px 0% 0% 41px;
	padding: 0% 1% 0% 0%;
	color : white;
}
.login-header{
	display : block;
	color : white;
}
#navRegister
{
	display : block;
}
ul
{
	list-style-type: none;
	display : block;
}
li{
	float: left;
	display : inline-block;
}
li a,li a:hover{
	display: block;
	text-decoration: none;
	color: white;
}
.loginarea
{
	width : 25%;
	height  : 3%;
	display : inline-block;
	color: white;
	position : absolute;
	margin : 0px 0px 0px 60px ;
}
.dropdownlogin
{
	margin-top : -10%;
	display : none;
	margin-left : -3%;
	width : auto;
	height: auto;
	padding : 3% 15% 3% 3% ;
}
.dropdownlogin >form > .btn
{
	box-shadow: inset 0 0 20px 12px #441d5e;
    color: white;
}
.dropdownregister >form > .btn
{
	box-shadow: inset 0 0 20px 12px #441d5e;
    color: white;
}
.dropdownregister
{
	margin : -20% 0% 0% 0% ;
	display : none;
	height : auto;
	width : auto;
}
form
{
	padding-left : -5%;
}
.dropdownregister>form>input,
.dropdownregister>form>#btnRegister,
.dropdownlogin>form>input,
.dropdownlogin>form>#btnlogin
{
	width : 100%;
	margin-bottom : 1%;
}
.input-group>span
{
    background-color: rgb(131, 108, 147);
    color: white;
}

/*---------------------------------------------- login style ends */


/*left navigation start*/

.navbar-fixed-left {
	width: 15% ;  
	border-radius: 5px;
	height: auto;
	display : inline-block;
	background-color: rgb(255, 255, 255);
	width : 15%;
	border-color : white;
}

.navbar-fixed-left .navbar-nav > li {
	float: none;  /* Cancel default li float: left */
	width: 100%;
	display : inline-block;
}


.navbar-nav {
	background-color: #effcfa;
}
.navbar-brand, navbar-brand:hover
{
	color: black;
    background-color: #ebe8e8;
}

.navbar-inverse, .navbar-inverse:hover
{
	color: #5e5a5a;
    background-color: #ebe8e8;
	box-shadow: 6px 3px 8px #d6c2c2;
}
.navbar-nav > li > a
{
	color : black; !important
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #000;
    background-color: #c2d0d3;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a {
    color: #000;
    background-color: #c2d0d3;
}

.dropdown-menu {
    background-color: #bff2f1;
	width : auto;
}
/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
	margin-top: -24%;
    margin-left: 100%;
    border-radius: 10px;
    box-shadow: 6px 4px 19px 0px #dcebec;
    border: none;
	background-color:#c2d0d3;
	max-height: 186px;
    overflow-y: auto;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #a798f4;
    text-decoration: none;
    background-color: inherit;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}


/*left navigation ends*/


.useronline
{
	margin : -115px 0px 0px 850px;
    position: absolute;
    border: none;
	color : white;
    border-radius: 21px;
    padding: 0px 6px 0px 6px;
	
}

/*  password strength */

.password-box 
{
	display: inline-block;	
}

.password-progress {
  height: 5px;
  width : 100%;
  overflow: hidden;
  margin : -2px 0px 1% 0px ;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
	float: left;
	height: 100%;
	background-color: #337ab7;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.bg-red {
	background: #E74C3C;
	border: 1px solid #E74C3C;
}

.bg-orange {
	background: #F39C12;
	border: 1px solid #F39C12;
}

.bg-green {
	background: #1ABB9C;
	border: 1px solid #1ABB9C;
}
/* password strength ends*/

.myOrders
{
    margin: 0px 0px 0px -10%;
    display: inline-block;
    position: absolute;
	color : white;
}