body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 42% 82%;
    background-attachment: fixed;
}
.container-area
{
	display : inline-block;
	margin-left: 18% ;
	margin-top : -25%;
	padding : 1% 1% 1% 1% ;
    border-radius : 10px;
	height : 75%;
	width : 70%;
}

/*trending product*/
#myCarousel>ol>li
{
	background-color: #b87979;
}
#myCarousel>ol
{
	margin-left : -2%;
}

.active, .item
{
	margin : 1% 15% 1% 15% ;
	height : 83%;
}
#myCarousel
{
	width : 100%;
}
.carousel-caption
{
	display : inline-block;
	color: black; !important
}
.info
{
	color : black;
}
