body
{
	display : inline-block;
	background:url(/assets/images/bg.png);
}
.header
{
	height : 113px;
}
.useronline
{
	margin-top : -129px;
}
.img
{
	margin : 0px 0px 0px -3px ;
}
.wrap{
	margin:0 auto;
	width:1000px;
}
.logo{
	text-align:center;
}	
.logo p span{
	color:lightgreen;
}	
.sub a{
	color:white;
	background:rgba(0,0,0,0.3);
	text-decoration:none;
	padding:5px 10px;
	font-size:13px;
	font-family: arial, serif;
	font-weight:bold;
}	
.footer{
	color:#555;
	position:absolute;
	margin: 4% 0% -24% 0%;
	bottom:10px;
	font-weight:bold;
	font-family:arial, serif;
}	
.redirectarea
{
	margin: 0% 0% 0% 39%;
	font-family:arial, serif;
	color: #e51c1c;
}