.updateitem
{
	margin : -1% 0% 0% 20% ;
	display : inline-block;
	height: 40%;
	display : inline-block;
}
.inputdata
{
	    padding: 1% 1% 1% 1%;
    display: inline-block;
    margin: 0% 0% 0% 3%;
    width: 58%;
}

textarea
{
	padding : 3px 3px 3px 5px ;
	width  :30%;
	height : 40%;
	resize : none;
}
.updateitem>form>input[type=text],textarea
{
	border : none;
	box-shadow: 2px 2px 6px 0px #c39494;
	border-radius : 8px;
}
.updateitem>h3
{
	margin : 0% 0% 10% 20% ;
}
.submit
{
	margin : 2% 0% 0% 35% ;
}
.updateitem>form input[type=submit]
{
	background-color: rgba(218, 223, 224, 0.2);
    box-shadow: 2px 2px 8px 0px #cabbbb;
    border: none;
}
.pcategory
{
	margin : -6% 0% 3% 7% ;
	position : absolute;
}
.psubcategory
{
	margin : -80px 0% 7% 35% ;
	position : absolute; 
	   
}
select[name=psubtype]
{
	margin : 0% 0% 0% 10% ;
	border : none;
	background-color : inherit;
}
select[name=ptype]
{
	border : none;
	margin : 0% 0% 0% 6% ;
	background-color : inherit;
}
#ptypereq
{
	display:none;
	margin : 2px 0% 0% 6% ;
	    font-style: oblique;
}
#psubtypereq
{
	display:none;
	margin : 2px 0% 0% 20px ;
	font-style: oblique;
}
body
{
	background: url(/assets/images/addItem.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
}
#pimg
{
	margin : -4% 0% 1% 61% ;
}
h6
{	
	background-color: #f8f8f8;
	border-radius : 5px;
}
.updatesuccesfully
{
	position: fixed;
    margin: 35% 0% 0% 76%;
    color: coral;
    background-attachment: fixed;
	font-weight: 800;
	z-index : 1000;
}